<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odessey</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <header>
       <a id='home' href="home.html"><img src="images/logo.png" alt='logo'/></a>
        <nav>
            <ul>
                <li><a href="about.html">About Us</a></li>
                <li><a  href="program.html">Program</a></li>
                <li><a href="a">Events</a></li>
                <li><a href="tickets.html">Tickets</a></li>
                <li><a href="a">Contacts</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="photo">
            <img src="images/welcome-cover.png" alt="cover"/>
        </section>
        <section id="news">
            <img alt="news">
            <span class="new-li">
                <h2>News</h2>
                <h4>Title</h4>
                <p>Description</p>
                <button>Read more</button>
            </span>
        </section> 
        <section id="recent-play">
            <span>
                <h1>date</h1>
            </span>
        </section> 
    </main>
    <footer>
        <ul>
            <li><img alt="fb"></li>
            <li><img alt="insta"></li>
            <li><img alt="utube"></li>
        </ul> 
        <p>@Copy right 2023</p>
    </footer>
    <script src="script.js"></script>
</body>
</html>