body{
    margin: auto;
    padding: 0;
}

/*navigation bar*/

header {
    background-color: #e7e7e7;
    box-shadow: 0 10px 15px -3px 
rgba(119, 119, 119, 0.212),
        0 4px 6px -4px 
rgba(0, 0, 0, 0.1);
position: fixed;
top: 0; left:0; right:0;
display: flex;
align-items: center;
justify-content: space-between;
z-index: 1000;
padding: 1rem 3%;
}

header img{
    height: 50px;
    width: 50px;
}

header li{
    display: inline;
    padding-right: 10px;
}

header ul li:hover{
  color:rgb(189, 34, 34);
}

header a{
    text-decoration: none;
    color: black;
    font-size: 25px;
}

header a:hover{
    color: #c22a2a;
    cursor: pointer;
}

/*cover*/

#photo img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}

/*offers*/

#offers{
    background-color: #b64040;

}

#offers h2{
    color: #640101;
    display: flex;
    justify-content: center;
    padding: 70px 0;   
}

#offers ul{
    display: flex;
    justify-content: center;
}

#offers li img{
    display: flex;
    width: 20%;
    border-radius: 50%;
}

#offers ul li p{
    width: 100px;
    padding: 22px 0;
    margin: 0;
    display: flex;
}

/*most recent*/
#recent-play{
    display: inline-flex;
    padding: 30px 0;
}

#recent-play img{
    padding: 150px 300px;
}

#recent-play h2{
    color: #640101;
    display: flex;
    padding: 15px 0;
}

#recent-play button{
    background-color: #b64040;
    padding: 10px 20px;
    border-radius: 25%;
    border: none;
}

/*footer*/
footer{
    background-color: #640101;
    
}

footer ul{
    padding: 50px 10px;
    display: flex;
    justify-content: end;
}